<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>System Id</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <style>
      .hardware{
        height: 3rem;
        float: left;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        transition: all 0.3s ease-in-out;        
      }
      .software{
        height: 3rem;
        float: right;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        transition: all 0.3s ease-in-out;        
      }

      .hardware-options {
        display: grid;
        grid-template-columns: repeat(32, 1fr);
        gap: 1.25rem;
      }

      .hardware:hover {
        background-color: #03365a;
      }

      .software:hover {
        background-color: #03365a;
      }

      .software-options {
        display: grid;
        grid-template-columns: repeat(32, 1fr);
        gap: 1.25rem;
        display: none;
      }

      .gap {
        gap: 0.5rem;
      }
    </style>
  </head>
  <body>
    <nav>
      <h1>Fairdesk</h1>
    </nav>
    <div class="contain">
      <!-- Navigation bar -->
      <div class="side-nav">
        <div title="Expand" class="nav-items nav-toggle">
          <i class="fa-solid fa-bars" style="color: #ffffff"></i>
          <p class="nav-items-para">Navigation</p>
        </div>        
        <div title="Client Data" class="nav-items" onclick="window.location.href = '/fairdesk/form/client'">
          <i class="fa-solid fa-user" style="color: #ffffff"></i>
          <p class="nav-items-para">Client Data</p>
        </div>

        <div class="nav-opt-wrap">
        <div title="Datasheet" class="datasheet-toggle nav-items">
          <i class="fa-solid fa-square-caret-down" style="color: #ffffff;"></i>
          <p class="nav-items-para">Datasheet</p>
        </div>

        <div class="nav-labels-opt">
          <div title="Labels" class="nav-items" onclick="window.location.href = '/fairdesk/form/labels'">
            <i class="fa-solid fa-address-card" style="color: #ffffff"></i>
            <p class="nav-items-para">Labels</p>
          </div>       
          <div title="TTR" class="nav-items" onclick="window.location.href = '/fairdesk/form/ttr'">
            <i class="fa-solid fa-ribbon" style="color: #ffffff"></i>
            <p class="nav-items-para">TTR</p>
          </div>
          <div title="Tape" class="nav-items" onclick="window.location.href = '/fairdesk/form/tape'">
            <i class="fa-solid fa-tape" style="color: #ffffff;"></i>
            <p class="nav-items-para">Tape</p>
          </div>  
        </div>          
        </div>
        
        <div class="nav-opt-wrap">
        <div title="Care" class="care-toggle nav-items">
          <i class="fa-solid fa-circle-chevron-down" style="color: #ffffff;"></i>
          <p class="nav-items-para">Care</p>
        </div>

        <div class="nav-care-opt">
        <div title="System ID" class="nav-items active onclick="window.location.href = '/fairdesk/form/systemid'">
          <i class="fa-solid fa-id-badge" style="color: #ffffff;"></i>
          <p class="nav-items-para">System ID</p>
        </div> 
        <div title="Care Call Report" class="nav-items" onclick="window.location.href = '/fairdesk/form/carecallreport'" >
          <i class="fa-solid fa-file" style="color: #ffffff"></i>
          <p class="nav-items-para">Call Report</p>
        </div>
        <div title="Care Workshop Report" class="nav-items" onclick="window.location.href = '/fairdesk/form/careworkshopreport'">
          <i class="fa-solid fa-shop" style="color: #ffffff;"></i>
          <p class="nav-items-para">Workshop Report</p>
        </div>
        <div title="Carelead" class="nav-items" onclick="window.location.href = '/fairdesk/form/carelead'">
          <i class="fa-solid fa-notes-medical" style="color: #ffffff"></i>
          <p class="nav-items-para">Lead</p>
        </div>           
        <div title="Care Quote" class="nav-items" onclick="window.location.href = '/fairdesk/form/carequote'">
          <i class="fa-solid fa-quote-left" style="color: #ffffff;"></i>
          <p class="nav-items-para">Quote</p>
        </div>           
        </div>             
        </div>
        <div title="Rate Calculator" class="nav-items" onclick="window.location.href = '/fairdesk/form/ratecalculator'">
          <i class="fa-solid fa-calculator" style="color: #ffffff"></i>
          <p class="nav-items-para">Rate Calculator</p>
        </div>

        <div class="nav-opt-wrap">
        <div title="Rate Calculator" class="calc-toggle nav-items">
          <i class="fa-solid fa-square-caret-down" style="color: #ffffff;"></i>
          <p class="nav-items-para">Rate Calculator</p>
        </div>

        <div class="nav-calc-opt">
          <div title="Sales Calculator" class="nav-items" onclick="window.location.href = '/fairdesk/form/salescalc'">
            <i class="fa-solid fa-money-bill-transfer" style="color: #ffffff;"></i>
            <p class="nav-items-para">Sales Calculator</p>
          </div>       
          <div title="Production Calculator" class="nav-items" onclick="window.location.href = '/fairdesk/form/prodcalc'">
            <i class="fa-solid fa-industry" style="color: #ffffff;"></i>
            <p class="nav-items-para">Production Calculator</p>
          </div>
        </div>            
        </div>
      </div>

      <!-- The main content -->
      <div class="main-content">
        <form action="/fairdesk/form/datasheet" method="post" class="needs-validation" novalidate>
          <div class="span-full form-heading">
            <h1>System Id</h1>
          </div>

          <div class="span-full form-subheading">
            <h1>Basic Identification</h1>
          </div>

          <div class="span-six">
            <label for="sys-id">System ID</label>
            <input type="text" value="<%= systemIdCount + 1 %>" id="sys-id" class="form-control" name="sysId" placeholder="Enter System ID" required readonly />
          </div>
          <div class="span-six">
            <label for="sys-client">Client name</label>
            <input type="text" id="sys-client" class="form-control" name="sysClient" placeholder="Enter client name" required />
          </div>
          <div class="span-six">
            <label for="sys-username">User name</label>
            <input type="text" id="sys-username" class="form-control" name="sysUsername" placeholder="Enter username" required />
          </div>
          <div class="span-seven">
            <label for="sys-contact">User contact</label>
            <input type="text" id="sys-contact" class="form-control" name="sysContact" placeholder="Enter contact" required />
          </div>
          <div class="span-seven">
            <label for="sys-location">Location</label>
            <input type="text" id="sys-location" class="form-control" name="sysLocation" placeholder="Enter Location" required />
          </div>

          <div class="span-full form-subheading gap">
            <div class="hardware active">
              <h1>Hardware Details</h1>
            </div>
            <div class="software">
              <h1>Software Information</h1>
            </div>
          </div>

          <div class="hardware-options span-full">
          <div class="span-five">
            <label for="sys-product">Product</label>
            <!-- <input type="text" id="sys-product" class="form-control" name="sysProduct" placeholder="Enter product" required /> -->
             <select name="sysProduct" id="sys-product" class="form-control select-tag" required>
              <option value="" selected disabled hidden>Select</option>
              <option value="Printer">Printer</option>
              <option value="Scanner">Scanner</option>
             </select>
          </div>
          <div class="span-five">
            <label for="sys-make">Make</label>
            <input type="text" id="sys-make" class="form-control" name="sysMake" placeholder="Enter make" required />
          </div>
          <div class="span-five">
            <label for="sys-model">Model</label>
            <input type="text" id="sys-model" class="form-control" name="sysModel" placeholder="Enter model" required />
          </div>
          <div class="span-five">
            <label for="sys-serial-no">Serial no</label>
            <input type="text" id="sys-serial-no" class="form-control" name="sysSerialNo" placeholder="Enter serial no" required />
          </div>
          <div class="span-six">
            <label for="sys-mode">Mode</label>
            <!-- <input type="text" id="sys-mode" class="form-control" name="sysMode" placeholder="Enter mode" required /> -->
             <select name="sysMode" id="sys-mode" class="form-control select-tag" required>
              <option value="" selected disabled hidden>Select</option>
              <option value="Warranty">Warranty</option>
              <option value="AMC">AMC</option>
              <option value="Chargable">Chargable</option>
             </select>             
          </div>          
          <div class="span-six">
            <label for="sys-sales-date">Sales date</label>
            <input type="date" id="sys-sales-date" class="form-control" name="sysSalesDate" placeholder="Enter sales date" required />
          </div>            
          </div>

          <div class="software-options span-full">
          <div class="span-five">
            <label for="sys-software">software</label>
            <input type="text" id="sys-software" class="form-control" name="sysSoftware" placeholder="Enter software" required />
          </div>          
          <div class="span-five">
            <label for="sys-ver">Version</label>
            <input type="text" id="sys-ver" class="form-control" name="sysVer" placeholder="Enter version" required />
          </div>          
          <div class="span-five">
            <label for="sys-lic-no">LIC no</label>
            <input type="text" id="sys-lic-no" class="form-control" name="sysLicNo" placeholder="Enter lic no" required />
          </div>          
          <div class="span-five">
            <label for="sys-renewal-date">Renewal date</label>
            <input type="date" id="sys-renewal-date" class="form-control" name="sysRenewalDate" placeholder="Enter renewal date" required />
          </div>
          
          <div class="span-six">
            <label for="sys-mode">Mode</label>
            <!-- <input type="text" id="sys-mode" class="form-control" name="sysMode" placeholder="Enter mode" required /> -->
             <select name="sysMode" id="sys-mode" class="form-control select-tag" required>
              <option value="" selected disabled hidden>Select</option>
              <option value="Warranty">Warranty</option>
              <option value="AMC">AMC</option>
              <option value="Chargable">Chargable</option>
             </select>         
          </div>          
          <div class="span-six">
            <label for="sys-sales-date">Sales date</label>
            <input type="date" id="sys-sales-date" class="form-control" name="sysSalesDate" placeholder="Enter sales date" required />
          </div>            
          </div>
          <div class="btn-grp span-full">
            <button type="submit">Submit System Id</button>
          </div>          
        </form>
      </div>
    </div>

    <script>
      let hardwareBtn = document.querySelector(".hardware");
      let softwareBtn = document.querySelector(".software");

      let hardwareOPT = document.querySelector(".hardware-options");
      let softwareOPT = document.querySelector(".software-options");

      hardwareBtn.addEventListener("click", () => {
        hardwareBtn.classList.add("active");
        softwareBtn.classList.remove("active");
        hardwareOPT.style.display = "grid";
        softwareOPT.style.display = "none";
      });
      softwareBtn.addEventListener("click", () => {
        softwareBtn.classList.add("active");
        hardwareBtn.classList.remove("active");
        hardwareOPT.style.display = "none";
        softwareOPT.style.display = "grid";
      });
    </script>
    <script src="/js/common.js"></script>
  </body>
</html>
